#footer{
    justify-content:end;
    background-color: rgb(36, 35, 35);
    padding:1px 0 1px 0;
    position: fixed;
    width: 100%;
    margin-top:auto;
    right: 0;
    bottom: 0;
    left: 0; 
}
#footnote{
    color: rgb(50, 64, 77);
    font-size: 20px;
    text-align: center;
}
#footnote a:link{
    color: rgb(79, 152, 185);
    text-decoration: none;
    font-size: 20px;
}
#footnote a:hover{
    color: orangered;
}