#pageContainer{
    display: flex;
    justify-content: center;
    margin-top: 5rem ;
    min-width: 100%;
}
#page{
  
    text-align: justify;
    width: 80%;
    height: 80%;
    border: 1px solid black;
}
#page p{
      margin: 1rem;
}